.swiper-container {
  overflow: visible;
  margin-bottom: 20px;
}

.swiper-scrollbar {
  bottom: -20px !important;
  background: #4a5568 !important;
  height: 1px !important;
  margin-left: -10px;
  width: 100% !important ;
}

.swiper-scrollbar-drag {
  background: #ffffff !important;
  height: 4px !important;
  margin-top: -1px;
}
